.color-primary {
	color: var(--primary-color);
}

.color-secondary {
	color: var(--secondary-color);
}

.italic {
	font-style: italic;
}

.font-s {
	font-size: 20px;
}
.font-sm {
	font-size: 25px;
}

.font-m {
	font-size: 30px;
}

.font-l {
	font-size: 40px;
}

.font-xl {
	font-size: 50px;
}

.b-100 {
	font-weight: 100;
}
.b-200 {
	font-weight: 200;
}
.b-300 {
	font-weight: 300;
}
.b-400 {
	font-weight: 400;
}
.b-500 {
	font-weight: 500;
}
.b-600 {
	font-weight: 600;
}
.b-700 {
	font-weight: 700;
}
.b-800 {
	font-weight: 800;
}
.b-800 {
	font-weight: 900;
}

.m-0 {
	margin: 0;
}

.mt-1 {
	margin-top: 8px;
}
.mt-2 {
	margin-top: 16px;
}
.mt-3 {
	margin-top: 24px;
}

.mb-1 {
	margin-bottom: 8px;
}
.mb-2 {
	margin-bottom: 16px;
}
.ml-1 {
	margin-left: 8px;
}
.ml-2 {
	margin-left: 16px;
}

.mr-1 {
	margin-right: 8px;
}
.mr-2 {
	margin-right: 16px;
}

.row{
	display: flex;
}
.col-1{
	width: 8.333333%;
}
.col-2{
	width: 16.666666%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.333333%;
}
.col-5{
	width: 41.666666%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.333333%;
}
.col-8{
	width: 66.666666%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.333333%;
}
.col-11{
	width: 91.666666%;
}
.col-12{
	width: 100%;
}