/* Expertise */
.expertise-group {
	display: flex;
	justify-content: space-between;
}
.expertise-cube {
	width: 33%;
	background: #e5e3e1;
	height: 210px;
	color: var(--primary-color);
	cursor: pointer;
	position: relative;
	transition: background ease 300ms;
}
.expertise-cube::after {
	content: '';
	width: 30px;
	height: 30px;
	background: var(--primary-color);
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -100px;
	margin-left: -15px;
	transform: rotate(45deg);
	z-index: -1;
	transition: margin-top ease 300ms;
}

.expertise-cube.active {
	color: #fff;
	background: var(--primary-color);
}
.expertise-cube.active::after {
	margin-top: -15px;
}

.expertise-content {
	text-align: center;
	display: flex;
	justify-content: center;
}

[data-expandable] {
	max-height: 0;
	box-sizing: border-box;
	transition: max-height ease 300ms;
	overflow: hidden;
}
[data-expandable].expanded {
	max-height: 300px;
}

[data-expandable] > div {
	overflow: hidden;
	width: 50%;
	padding: 30px 0;
}

[data-expandable] > div > div {
	display: flex;
	transition: transform 300ms ease;
}

[data-tab-item] {
	width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
}
