/* Website Info */
#landing {
	background: #fff;
	display: flex;
}

.website-info {
	padding: 5rem 0rem;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.website-description {
	padding: 0 10vw ;
}
.website-description > h1 {
	margin: 15px 0;
}

.website-description > h2 {
	font-weight: 100;
	margin-top: 0;
}

.phone-wrapper {
	background-color: var(--primary-color);
	color: #fff;
	position: absolute;
	left: 5%;
	top: 5%;
	padding: 0.25rem 0;

	border-radius: 999999px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 350px;
}

.landing-form{
	width: 80%
}
.landing-form .form-group{
	width: calc(50% - 4px)
}
.landing-form .form-group:first-child{
	margin-left: 8px
}

/* Mobile */
@media screen and (max-width: 480px) {
	#landing{
		background: var(--light-tone-color) !important;
	}
	.website-logo{
		width: 75%;
	}
	.website-description > h1 {
		margin: 15px 0;
		font-size: 30px;
		font-weight: 600;
	}
	
	.website-description > h2 {
		font-weight: 100;
		margin-top: 0;
		font-size: 24px;
		margin-bottom: 16px;
	}
	.website-info {
		padding: 5rem 0rem;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.landing-form .form-group{
		width: 100%
	}
	.landing-form .form-group:first-child{
		margin-left: 0px;
		margin-bottom: 16px;
	}

	.phone-wrapper {
		display: none;
	}
	
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1000px) {
	.website-logo{
		width: 60%;
	}
	.website-description {
		padding: 0 5vw ;
	}
	.landing-form{
		width: 80%
	}
	.landing-form .form-group{
		width: 100%
	}
	.landing-form .form-group:first-child{
		margin-left: 0px;
		margin-bottom: 8px;
	}
}